#myModal{
    font: normal normal bold 24px/33px Open Sans;
}
.modal-confirm {		
    color: #636363;
    width: 325px;
    margin: 30px auto;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}	
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}	
.modal-confirm .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-image: url('../uploads/icons/tick2x.jpg');
    background-size: cover;
    z-index: 9;
    /* background: #5861AE; */
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #5861AE;
    border-radius: 7px;
    background-color: azure;
    /* background: #5861AE;; */
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    margin-right:56px;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background-color: #fff;
    outline: none;
}







































/* .popup-box{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.15);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation__box{
    box-sizing: border-box;
    height: 470px;
    width: 456px;
    background-color: #fff;
    padding: 62px 100px;
}

.box__image{
    border-radius: 50%;
}

.tick2x{
    width: 120px;
    height: 120px;
}

.confirmation__header{
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 20px;
    color: white;
    margin-bottom: 28px;
}

.confirmation__content{
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 200px;
}

.confirmation__title{
    font-size: 24px;
    font-weight: bold;
    color: #0A1F44;
    letter-spacing: 0.43px;
    margin-bottom: 24px;
    line-height: 1.8rem;
}

.confirmation__message{
    font: normal normal normal 17px/22px;
letter-spacing: -0.41px;
color: #0A1F44;
opacity: 1;
margin-bottom: 33px;
}

.go__button{
background: #5861AE 0% 0% no-repeat padding-box;
border-radius: 22px;
opacity: 1;
width: 235px;
height: 44px;
color: white;
}

.go__button:hover{
    cursor: pointer;
} */